body {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    height: 100vh;
    background-image: url('../Images/singles-overlay.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#clanPrefixOne,
#clanPrefixTwo{
    color: red;
}

#nameOne,
#nameTwo{
    color: black;
}

#currentRound{
    color: silver;
}

#scoreOne,
#scoreTwo{
    color: silver;
}