body {
    margin: 0;
    min-height: 100vh;
}

.scoreboard {
    height: 100%;
    display: flex;
    justify-content: center;
}

.header {
    /*Sizes of backround image*/
    height: 50px;
    width: 1150px;

    box-sizing: border-box;
    background: url("../Images/singles-overlay.png") no-repeat top;
    font-weight: bold;
    font-size: 28px;
    text-shadow: 1px 1px 2px pink;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

header > * {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.player-score {
    width: 75px;
    font-size: 36px;
    color: #fff;
}

.player {
    font-weight: 600;
}

.round {
    color: #fff;
}

.clan-prefix {
    color: red;
}

.character-img {
    max-width: 28px;
    max-height: 28px;
    object-fit: cover;
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/*positions*/

#scoreOne {
    left: 50px;
}

#scoreTwo {
    right: 50px;
}

/*score position (50px) + score width (75px)*/
#playerOne {
    left: 125px;
}

#playerTwo {
    right: 125px;
}

/*position in center*/
#currentRound {
    left: 50%;
    transform: translate(-50%,-50%);
}

/*divide parent element size without scores to 3 equal parts*/
.player, #currentRound {
    width: calc((100% - 250px) / 3);
}
